<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Questionnaire</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<section>
		<div>
			<div align="right">
			    <a th:href="@{/Admin/Home}">Home</a> 
				<a th:href="@{/Admin/CreateQuestionnaire}">Create Questionnaire</a> 
				<a th:href="@{/Admin/Leaderboard}">Leaderboard</a> 
				<a th:href="@{/App/Logout}">Logout</a>
			</div>
			<h1>Welcome admin!</h1>
		</div>
	</section>
</body>
</html>