<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inspect User Answers Page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
	<section>
		<div>
			<div align="right">
				<a th:href="@{/Admin/Home}">Home</a> <a
					th:href="@{/Admin/CreateQuestionnaire}">Create Questionnaire</a> <a
					th:href="@{/Admin/DeleteQuestionnaire}">Delete Questionnaire</a> <a
					th:href="@{/Admin/Inspection}">Inspect Questionnaire</a> <a
					th:href="@{/App/Logout}">Logout</a>
			</div>
			<h1>User's Answers</h1>
		</div>
	</section>
</body>
<body>
	<section>
		<p><a th:href="@{/Admin/InspectQuestionnaire(idQuestionnaire=${q.id})}">Go Back</a></p>
		<div th:if="${!questionnaires.isEmpty()}">
			<p>Questionnaire Selected</p>
			<table>
				<thead>
					<tr>
					    <th>Id</th>
						<th>Product</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:with="q : ${questionnaire}">
	                    <td th:text="${q.id}"> </td>
						<td th:text="${q.product.name}"> </td>
						<td th:text="${#dates.format(q.date, 'yyyy-MM-dd')}"> </td>	                	
					</tr>
				</tbody>
			</table>
			<p>User Selected</p>
			<table>
				<thead>
					<tr>
					    <th>Id</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr th:with="u : ${user}">
	                    <td th:text="${u.id}"> </td>
						<td th:text="${u.username}"> </td>
					</tr>
				</tbody>
			</table>
		<p>Answers</p>
			<table>
				<thead>
					<tr>
						<th>Question</th>
						<th>Answer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="a : ${answers}">
						<td th:text="${a.question.text}"> </td>
	                    <td th:text="${a.text}"> </td>
					</tr>
				</tbody>
			</table>
	</div>
	
	<div th:if="${questionnaires.isEmpty()}">
		<p>No questionnaire Data!</p>
	</div>
	</section>
</body>
</html>