<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<section>
		<div>
			<div align="right">
			    <a th:href="@{/App/Home}">Home</a> 
				<a th:href="@{/App/Questionnaire}">Questionnaire</a> 
				<a th:href="@{/App/Leaderboard}">Leaderboard</a> 
				<a th:href="@{/App/Logout}">Logout</a>
			</div>
			<h1>Welcome to the Paolo Home Page</h1>
			<p th:if="${session.user.type != 0}" th:text="${'Nice to see you again ' + session.user.username} + ' !'"></p>
			<p th:if="${session.user.type == 0}" th:text="${'Hi ' + session.user.username} + ' your account is banned!'"></p>
		</div>
	</section>


	<section>
		<div th:if="${product == null}">
			<span>No product of the day!</span>
		</div>
		<div th:if="${product != null}">
			<span th:text="'Product: ' + ${product.name}"> </span> <img
				width="100px" alt="thumb"
				th:src="*{'data:image/png;base64,'+ ph.getThumbData()}">
		</div>
	</section>
	
	
	<section>
		<div th:if="${reviews == null}">
			<span>No reviews of the product!</span>
		</div>
		<div th:if="${reviews != null}">
			<div th:each="r : ${reviews}">
				<span>Reviews of the product</span>
				<p th:text="'Username: ' + ${(r.user.username}"></p>
				<p th:text="'${r.text}"> </p>
			</div>	
		</div>
	</section>

</body>
</html>