<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Leaderboard</title>
</head>
<body>

	<section>
		<div>
			<div align="right">
			    <a th:href="@{/App/Home}">Home</a> 
				<a th:href="@{/App/Questionnaire}">Questionnaire</a> 
				<a th:href="@{/App/Leaderboard}">Leaderboard</a> 
				<a th:href="@{/App/Logout}">Logout</a>
			</div>
			<h1>Welcome to the Leaderboard Page!</h1>
		</div>
	</section>

	<section>
	<p>Leaderboard of the day!<p>
		<table>
			<thead>
				<tr>
				    <th>Position</th>
					<th>Username</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s : ${#lists.sort(statistics, points)} ${}">
					<td th:text="${s.index + 1}"></td>
					<td th:text="${s.user.username}"></td>
					<td th:text="${s.points}"></td>
				</tr>
			</tbody>
		</table>
	</section>

</body>
</html>