<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Leaderboard</title>
</head>
<body>

	<section>
		<div>
			<div align="right">
			    <a th:href="@{/App/Home}">Home</a> 
				<a th:href="@{/App/Questionnaire}">Questionnaire</a> 
				<a th:href="@{/App/Leaderboard}">Leaderboard</a> 
				<a th:href="@{/App/Logout}">Logout</a>
			</div>
			<h1>Welcome to the Leaderboard Page!</h1>
		</div>
	</section>

	<section th:if="${statistics.isEmpty()}">
	<p>There are no available statistics for today. Please, retry later!<p>
	</section>

	<section th:if="${!statistics.isEmpty()}">
	<p>Leaderboard of the day!<p>
		<table>
			<thead>
				<tr>
				    <th>Position</th>
					<th>Username</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s, iter : ${statistics}" th:if="${s.status == 1}">
					<td th:text="${iter.index+1}"></td>
					<td th:text="${s.user.username}"></td>
					<td th:text="${s.score}"></td>
				</tr>
			</tbody>
		</table>
	</section>

</body>
</html>