<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Questionnaire</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

	<section>
		<div>
			<div align="right">
			    <a th:href="@{/App/Home}">Home</a> 
				<a th:href="@{/App/Questionnaire}">Questionnaire</a> 
				<a th:href="@{/App/Leaderboard}">Leaderboard</a> 
				<a th:href="@{/App/Logout}">Logout</a>
			</div>
			<h1>Welcome to the Questionnaire Page!</h1>
			<p th:if="${session.user.type == 0}"
				th:text="${'Hi ' + session.user.username} + ' your account is banned, you can not fill a questionnaire!'"></p>
		</div>
	</section>
	
	<section>
		<div th:if="${session.user.type != 0} and ${#lists.isEmpty(questions)}">
			<p>This is embarassing. There appears to be no questions associated with this questionnaire</p>
		</div>
	</section>
	
	<section>
		<div th:if="${session.user.type != 0} and ${not #lists.isEmpty(questions)}">
			<form action="#" th:action="@{/App/SendQuestionnaire}" method="POST">
				<fieldset id="mandatory">
					<p id="#description">Marketing section (all fields are required)</p>
					<div th:each="qu : ${questions}">
					<p th:value="${qu.id}"  th:text="${qu.text}"> </p>
					<p id="mand"> <input type="text" th:name="${qu.id}"/> </p>
				</fieldset>
				<fieldset id="optional" hidden>
					<p>
						How old are you? <input type="number" min="1" max="120" name="age"/>
					</p>
					<p>Sex <select name="sex">
						    <option value="0">--Please choose an option--</option>
						    <option value="1">Female</option>
						    <option value="2">Male</option>
						    <option value="3">Other</option>
						  </select>
				    </p>
					<p> Expertise level <select name="expertise">
						    <option value="0">--Please choose an option--</option>
						    <option value="1">Low</option>
						    <option value="2">Medium</option>
						    <option value="3">High</option>
						  </select>
				    </p>
				</fieldset>
				<input type="submit" name="SendQuestionnaire" id="SendQuestionnaire" value="Submit" hidden>
				<input type="submit" name="SendQuestionnaire" id="CancelQuestionnaire" value="Cancel" hidden>
			</form>
		</div>
		<button id="next">Next</button>
		<button id="previous" hidden>Previous</button>
	</section>

	<script>
	$(document).ready(function(){
		  // When click on next button, the page is updated
		  $("#next").on("click", function(){
			  //Check if soe fields are empty
			  var formInvalid = false;
			  $('#mand').children(':text').each(function() {
			    if ($(this).val() === '') {
			      formInvalid = true;
			    }
			  });
			  if (formInvalid){
			    alert('One or Two fields are empty. Please fill up all fields');
			    return;
			  }
			// hide the mandatory questions and show the optional ones
		    $('#mandatory').fadeOut(1000).promise().done(function(){
		    	$('#optional').fadeIn(1000); 
		    });
		    // hide the next button and show the SendQuesttionaire, CancelQuestionnaire and previous button
		    $('#next').fadeOut(1000).promise().done(function(){
		    	$('#CancelQuestionnaire').fadeIn(1000);
		    	$('#SendQuestionnaire').fadeIn(1000);
		    	$('#previous').fadeIn(1000);
		    });
		  return false;  
		});
	});
	$(document).ready(function(){
		  // When click on previous button, the page is updated
		  $("#previous").on("click", function(){
			// hide the optional questions and show the mandatory ones
		    $('#optional').fadeOut(1000).promise().done(function(){
		    	$('#mandatory').fadeIn(1000);
		    });
		 // hide the SendQuesttionaire, CancelQuestionnaire and previous buttons and show the next button
		    $('#CancelQuestionnaire').fadeOut(1000);
		    $('#SendQuestionnaire').fadeOut(1000);
		    $('#previous').fadeOut(1000).promise().done(function(){
		    	$('#next').fadeIn(1000);
		    });
		  return false;  
		});
	});
	</script>
</body>
</html>